{% load static %}

<!--====== TEACHERS PART START ======-->

<section id="teachers-part" class="pt-70 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-title mt-50">
                    <h5>Featured Teachers</h5>
                    <h2>{{ MetaData.teacher_title }}</h2>
                </div> <!-- section title -->
                <div class="teachers-cont">
                    <p>{{ MetaData.teacher_description | safe }}</p>
                    <a href="#" class="main-btn mt-55">Career with us</a>
                </div> <!-- teachers cont -->
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="teachers mt-20">
                    <div class="row">
                        {% for teacher in Instructor %}
                        {% include 'single-teacher-item.html' with teacher=teacher %}
                        {% endfor %}
                    </div> <!-- row -->
                </div> <!-- teachers -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== TEACHERS PART ENDS ======-->