{% load static %}

<!--====== TEASTIMONIAL PART START ======-->
    
<section id="testimonial" class="bg_cover pt-115 pb-115" data-overlay="8" style="background-image: url({{ MetaData.testimonial_background.url }})">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title pb-40">
                    <h5>Testimonial</h5>
                    <h2>What they say</h2>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row testimonial-slied mt-40">
            {% for testimonial in TestimonialItem %}
            <div class="col-lg-6">
                <div class="singel-testimonial">
                    <div class="testimonial-thum">
                        <img src="{{ testimonial.image.url }}" alt="{{ testimonial.caption }}">
                        <div class="quote">
                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>
                    <div class="testimonial-cont">
                        <p>{{ testimonial.description }}</p>
                        <h6>{{ testimonial.name }}</h6>
                        <span>{{ testimonial.designation }}</span>
                    </div>
                </div> <!-- singel testimonial -->
            </div>
            {% endfor %}
        </div> <!-- testimonial slied -->
    </div> <!-- container -->
</section>

<!--====== TEASTIMONIAL PART ENDS ======-->